.MainMenuDemo{
    width: 20%;
}
.MainMenuDemo > div{
    /* margin-right: 18px; */
    margin-right: 1.3177vw;
    /* font-size: 18px; */
    font-size: 1.3177vw;
    color: #041e42cc;
    transition: 0.3s;
    font-weight: bold;
    display: none;
}
.MainMenuDemo > div:hover{
    color: #e63042;
    cursor: pointer;
}

