@import './text.css';

.slide{
    width: 100%;
    height: 50vw;
    position: relative;
    overflow: hidden;
    background: rgba(234, 237, 237,0.2);
  }
  .fa-chevron-right,.fa-chevron-left{
    position: absolute;
    /* width: 40px;
    height: 40px; */
    width: 2.928vw;
    height: 2.928vw;
    /* border-radius: 4px; */
    border-radius: 0.2928vw;
    background: rgba(234, 237, 237,0.2);
    color: rgba(12, 60, 128, 0.6);
    color: #e63042;
    /* font-size: 40px; */
    font-size: 2.928vw;
    width: 2.928vw;
    text-align: center;
    transition: 0.2s;
  }
  .leftbtn,.rightbtn{
    position: absolute;
    /* top: calc(50% - 20px); */
    top: calc(50% - 1.464vw);
    z-index: 1;
    cursor: pointer;
  }
  .leftbtn{
    /* left: 10px; */
    left: 0.732vw;
  }
  .rightbtn{
    /* right: 50px; */
    right: 3.66vw;
  }
  .leftbtn .fas:hover,.rightbtn .fas:hover{
    color: rgba(234, 237, 237,0.6);
    background: rgba(240, 86, 86,0.5) ;
  }
  .slideimg{
    width: 100%;
    height: 50vw;
    position: absolute;
    top: 0;
    left: 0;
  }
  .slideimg > .image{
    width: 100%;
    height: 50vw;
    background-position: center center;
  }
  .imgleft{
    left: -100%;
  }
  .imgcenter{
    left: 0;
  }
  .imgright{
    left: 100%;
  }
