.SignUp{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-150%);
    /* transition: 3s; */
    animation-duration: 1s;
    animation-name: a;
}
@keyframes a{
    from{top:-100%}
    to{top: 50%}
}