@import './Logo.css';
@import './Search.css';
@import './Icon.css';
@import './Menu.css';

.header{
    padding: 0 5%;
    /* background: linear-gradient(#fff7ec, #fff7ec10); */
    background-color: #ecfaff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
/* .header2{
    padding: 0 5%;
    background: linear-gradient(#f8debb, #F2D0A410);
    display: flex;
    align-items: center;
    justify-content: space-between;
    filter: blur(1.5px);
} */
.account{
    width: 12vw;
    height: 4vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #041e42cc;
}

.account>.acc:nth-child(2){
    color: #D72638;
}
.account>.acc:nth-child(2):hover{
    border: 1px solid #D72638;;
}