.menu{
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Josefin Sans', sans-serif;
    /* font-family: 'Pacifico', cursive; */
    color: #041e42cc;
    width: 40%;
    margin: 0 auto;
    transform: translateY(0%);
    transition: 300ms;
    animation: flow 300ms ease
}
.list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.list>li{
    display: inline-block;
    cursor: pointer;
    transition: 500ms;
}
.list>li:hover{
    color: #d72638;
}
.list>li>a{
    text-decoration: none;
    color: inherit;
}