#template{
    width: 100%;
    height: 100%;
    position: fixed;
    background: #F2D0A4;
    overflow: hidden;
    transition: 700ms;
    animation: appear 700ms ease-in-out;
}
@keyframes appear{
    0%{transform: translateY(-150%);}
    100%{transform: translateY(0);}
}
#template>span:first-of-type{
    position: absolute;
    z-index: 999;
    left: 2%;
    top: 2%;
    width: 7%;
    height: 15%;
    text-align: center;
    border-radius: 5px;
    transition: 300ms;
    cursor: pointer;
}
#template>span:first-of-type:hover{
    background: linear-gradient(to right top, #717f815b, #F2D0A4);
    color: #fff;
}
h1{
    font-size: 2vw;
}
.form-container{
    width: 100%;
    transition: 300ms;
    color: #041e42dd;
}
.inputs{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    transition:  600ms;
    /* animation: show 500ms ease-in-out; */
}
@keyframes show{
    0%{top: 100%}
    100%{top: 10%;}
}
.input-container{
    width: 100%;
    margin-top: 2%;
    padding: 3% 0;
    background-color: #F6F7EB;
    border: 1px solid #b2b2b2;
    color: #041e42dd;
    transition: 300ms;
    border-radius: 10px;
    position: relative;
}
.input-container>input{
    font-size: 1vw;
    width: 80%;
    padding-left: 4%;
    outline: none;
    border: 0;
    background: transparent;
}
.input-container>.icon{
    width: 5%;
    padding: 0 3%;
    font-size: 1vw;
    display: inline-block;
    color: #041e42dd;
}
.input-container>.eye{
    float: right;
    margin-right: 5%;
}
.label{
    z-index: 99;
    position: absolute;
    left: 10%;
    bottom: 50%;
    transform: translateY(50%);
    font-size: 1vw;
    cursor: text;
    transition: 100ms;
}
.upper{
    transform: translateY(-60%);
    font-size: 0.8vw;
}
.input-container>.error{
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1vw;
    color: #aa0502;
    width: auto;
    opacity: 1;
    transition: 100ms;
}
.input-container>input:focus~.error{
    opacity: 0;
}
.red{
    color: #aa0502;
    border: 1px solid #aa0502;
}
input[name='password']~.error,input[name='confirmPassword']~.error{
    right: 10%;
}
.info-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.custom{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.custom>.input-container{
    width: 100%;
    margin-top: 0;
    padding: 3% 0;
}
.custom .label{
    left: 3%;
}
.file-container{
    background-color: #F6F7EB;
    transition: 200ms;
    border-radius: 10px;
    width: 18%;
    padding-top: 2%; 
    text-align: center;
    cursor: pointer;
    border: 1px solid #c2c2c2;
}
.fileUpload{
    display: flex;
    flex-direction: column;
    font-size: 2vw;
}
.fileUpload>p{
    font-size: 1vw;
    overflow: hidden;
}
.button-container{
    width: 100%;
    text-align: center; 
    font-size: 1vw;
}
.red-button{
    width: 100%;
    padding: 3%;
    border: 0;
    border-radius: 5px;
    background-color: transparent;
    background: #041e42cc;
    color: white;
    font-weight: bold;
    margin-top: 2%;
    cursor: pointer;
    transition: 300ms;
    outline: none;
    font-size: 1vw;
}
.red-button:hover{
    background-color: #041e42ee;
}
a{
    text-decoration: none;
    color: #d72638;
    cursor: pointer;
    font-weight: bold;
}
.far{
    cursor: pointer;
}