.account{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.user,.cart{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
.fa-user,.fa-shopping-cart{
    color: #7e7e7efb;
    font-size: 20px;
    cursor: pointer;
}
.fa-user:hover{
    color: #5c5c5cfb;
}
.user > span,.cart > span{
    font-size: 15px;
    font-weight: bold;
    color: #7e7e7efb;
}