.WishListMenuContent{
    display: flex;
    flex-direction: column;
}
.WishListMenuContent > div {
    /* margin-bottom: 30px; */
    margin-bottom: 2.196vw;
}
.WishListMenuHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.WishListMenuName{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.WishListMenuNameLogo{
    /* width: 50px;
    height: 50px; */
    width: 3.66vw;
    height: 3.66vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e63042;
}
.WishListMenuNameLogo > .fa-user{
    color: white;
    /* font-size: 20px; */
    font-size: 1.464vw;
}
.WishListMenuNameAcc{
    /* margin-left: 10px; */
    margin-left: 0.732vw;
    font-weight: bold;
    /* font-size: 20px; */
    font-size: 1.464vw;
    color:#e63042;
}
.WishListMenuClose{
    /* width: 50px;
    height: 50px; */
    width: 3.66vw;
    height: 3.66vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.WishListMenuClose > .fa-times{
    /* width: 50px;
    height: 50px; */
    width: 3.66vw;
    height: 3.66vw;
    /* border: 1px solid white; */
    border: 0.0732vw solid white;
    text-align: center;
    /* line-height: 50px; */
    line-height: 3.66vw;
    color:#e63042;
    /* font-size: 30px; */
    font-size: 2.196vw;
    cursor: pointer;
}
.WishListMenuClose > .fa-times:hover{
    border: 1px solid #e63042;
    border: 0.0732vw solid #e63042;
    /* border-radius: 4px; */
    border-radius: 0.2928vw;
}
.WishListUserContent{
    height: calc(100% - 5.856vw);
    overflow: auto;
    width: 100%;
    padding: 2%;
}

