.ar{
    /* width: 25%; */
    position: relative;
    left: 8%;
}
.account{
    width: auto;
    margin-right: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.account > .user, .account > .wishList,.account > .cart,.account> .MobileMenuRight{
    padding: 2%;
    margin-left: 3%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.acc > .fa-user,.fa-heart,.fa-shopping-cart,.MobileMenuRight{
    color: #041e42cc;;
    /* font-size: 20px; */
    font-size: 1.464vw;
    transition: 0.3s;
}
.acc > .fa-heart{
    color: #e63042;
}
.acc > span{
    /* font-size: 17px; */
    font-size: 1.2445vw;
    font-weight: bold;
    color: #041e42cc;
    transition: 0.3s;
    display: none;
}
.wishList > span{
    color: #e63042;
}
.acc:hover{
    /* border: 1px solid #041e42cc; */
    border: 0.0732vw solid #041e42cc;
    /* border-radius: 4px;   */
    border-radius: 0.2928vw; 
    cursor: pointer;
}
.wishList:hover{
    /* border: 1px solid #e63042; */
    border: 0.0732vw solid #e63042;
}
.acc:hover i{
    font-size: 0;
}
.acc:hover span{
    display: block;
    animation-name: acc;
    animation-duration: 0.5s;
}
@keyframes acc{
    from{font-size: 0;}
    /* to{font-size: 17px;} */
    to{font-size: 1.2445vw;}
}