@import './App.css';
*{
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}
html,body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  scroll-behavior: smooth;
  background:  rgb(208, 214, 216);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #041e4280; 
}
::-webkit-scrollbar-thumb:hover {
  background: #041e42cc;  
}
